.gallery {
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
}

.artwork-container {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 200px;
}