.App {
  cursor: url('./wii-cursor-by-stefano-tinaglia/Wii Cursor.cur'), auto;
  width: 100vw;
  height: 100vh;
  background-image: url('./wii-ico/background.png');
}

.tv-noise {
  background-image: url('./wii-ico/wii-channel-static-empty-wii-channel.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10%;
  border: 5px solid #c2c3b9;
  width: 18vw;
  height: 17vh;
  transition: all 0.2s ease;
}

.tv-noise:hover {
  background-image: url('./wii-ico/wii-channel-static-empty-wii-channel.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10%;
  border: 5px solid #69c5e2;
  width: 18vw;
  height: 17vh;
}

.all-tv-conteneur {
  width: 90vw;
  overflow: hidden;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60vh;
  padding-left: 10vw;
  gap: 3% 1%;
}

@font-face {
  font-family: 'Digital-7';
  src: url('./font/digital-7/digital-7.ttf') format('opentype');
}

.digital-clock-time {
  font-family: 'Digital-7', sans-serif;
  font-size: 70px;
  margin: 0px;
  color: gray;
}

.black-square {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 24%;
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.black-square button:hover {
  background-color: #555;
}

@keyframes fadeToBlack {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

@keyframes Apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.go-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 999;
  animation: fadeToBlack 1s forwards;
  animation-play-state: running;
}

.classic-back {
  background-image: url('./wii-ico/background.png');
}

@keyframes blinkingText {
  0% {
    color: white;
  }
  50% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@keyframes black-to-invisible {
  0% {
    background-color: black;
  }
  100% {
    background-color: transparent;
  }
}

.ping-text {
  position: fixed;
  top: 20px;
  right: 20px;
  border: 3px solid #69c5e2;
  background-color: #e3e3e3;
  color: white;
  padding: 50px;
  font-size: 30px;
  border-radius: 24px;
  animation: fade-in-out 1s ease-in-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
